
.containerCards{
    display: flex;
    justify-content: flex-start;
    width: 340px;
    height: 444px;
    overflow-y: scroll;
    margin-top: 40px;
    direction: rtl;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: column;
}

.containerCards::-webkit-scrollbar{
    background-color: #0000;    /* color of the scroll  */
    border-radius: 20px;       /* roundness of the scroll  */
    width: 9px;
}
.containerCards::-webkit-scrollbar-thumb{
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 51px;       /* roundness of the scroll thumb */
    
}

